<div
    class="flex justify-between items-center h-14 shadow px-16 fixed left-0 right-0"
>
    <!-- Left -->
    <div class="flex items-center space-x-4">
        <!-- Logo -->
        <a class="flex items-center space-x-2" routerLink="/">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-8 h-8 text-violet-500"
            >
                <path
                    d="M11.644 1.59a.75.75 0 01.712 0l9.75 5.25a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.712 0l-9.75-5.25a.75.75 0 010-1.32l9.75-5.25z"
                />
                <path
                    d="M3.265 10.602l7.668 4.129a2.25 2.25 0 002.134 0l7.668-4.13 1.37.739a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.71 0l-9.75-5.25a.75.75 0 010-1.32l1.37-.738z"
                />
                <path
                    d="M10.933 19.231l-7.668-4.13-1.37.739a.75.75 0 000 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 000-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 01-2.134-.001z"
                />
            </svg>
            <div class="text-xl font-bold">ProMan</div>
        </a>

        <!-- <ul class="flex items-center space-x-2">
            <li
                routerLinkActive="text-violet-500"
                class="cursor-pointer font-medium"
            >
                <a class="inline-block" routerLink="/">Project</a>
            </li>
        </ul> -->
    </div>

    <a
        class="px-3 py-2 bg-violet-600 text-white font-semibold text-sm rounded-md hover:bg-violet-500 cursor-pointer"
        routerLink="/create"
    >
        Add project
    </a>
</div>
