<div class="flex items-center space-x-4">
    <button (click)="onGoBack()" class="p-2 hover:bg-violet-200 rounded-full">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-6 h-6"
        >
            <path
                fill-rule="evenodd"
                d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z"
                clip-rule="evenodd"
            />
        </svg>
    </button>
    <h2 class="text-3xl font-bold">{{ project.name }}</h2>
</div>

<div class="py-3">
    <div class="flex space-x-8 mt-3">
        <div class="space-y-2">
            <div class="font-medium">Start date</div>
            <p class="py-1">{{ project.startDate | date: "fullDate" }}</p>
        </div>
        <div class="space-y-2">
            <div class="font-medium">End date</div>
            <p class="py-1">{{ project.endDate | date: "fullDate" }}</p>
        </div>

        <div class="space-y-2">
            <div class="font-medium">Status</div>
            <div
                class="inline-flex items-center px-3 py-1 rounded-full gap-x-2"
                [ngClass]="{
                    'text-emerald-500 bg-emerald-100/60':
                        project.status === 'Completed',
                    'text-gray-500 bg-gray-200/60':
                        project.status === 'Not Started',
                    'text-orange-500 bg-orange-100/60':
                        project.status === 'Active',
                    'text-red-500 bg-red-100/60': project.status === 'Cancelled'
                }"
            >
                {{ project.status }}
            </div>
        </div>
    </div>

    <div class="space-y-2 mt-5">
        <div class="font-medium">Description</div>
        <p>{{ project.description }}</p>
    </div>

    <div class="space-x-2 flex py-5 border-t justify-end mt-3">
        <button
            class="px-3 py-2 bg-red-600 text-white font-semibold text-sm rounded-md hover:bg-red-500"
            (click)="idToDelete = id"
        >
            Delete project
        </button>
        <a
            class="px-3 py-2 bg-violet-600 text-white font-semibold text-sm rounded-md hover:bg-violet-500 disabled:pointer-events-none disabled:opacity-50 cursor-pointer"
            [routerLink]="['/edit', id]"
        >
            Edit project
        </a>
    </div>
</div>

<app-comfirm-delete
    *ngIf="idToDelete !== null"
    (cancel)="onCancelDelete()"
    (delete)="onDeleteProject()"
></app-comfirm-delete>
