<h2 class="text-3xl font-bold">Project list</h2>

<div class="mt-5">
    <div class="flex items-center"></div>

    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="border border-gray-200 rounded-lg">
                <table class="w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th
                                scope="col"
                                class="py-3.5 px-4 font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400"
                            >
                                Project Name
                            </th>

                            <th
                                scope="col"
                                class="px-4 py-3.5 font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400"
                            >
                                Start Date
                            </th>
                            <th
                                scope="col"
                                class="px-4 py-3.5 font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400"
                            >
                                End Date
                            </th>

                            <th
                                scope="col"
                                class="px-4 py-3.5 font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400"
                            >
                                Status
                            </th>

                            <th
                                scope="col"
                                class="px-4 py-3.5 font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400"
                            >
                                Description
                            </th>

                            <th scope="col" class="relative py-3.5 px-4">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody
                        class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900"
                    >
                        <tr *ngFor="let project of projects; let i = index">
                            <td
                                class="max-w-[250px] hover:text-violet-700 font-medium text-gray-700 whitespace-nowrap overflow-hidden text-ellipsis"
                            >
                                <a
                                    [routerLink]="['/', i]"
                                    class="cursor-pointer block px-4 py-4"
                                >
                                    {{ project.name }}</a
                                >
                            </td>
                            <td
                                class="px-4 py-4 text-gray-500 whitespace-nowrap"
                            >
                                {{ project.startDate | date }}
                            </td>
                            <td
                                class="px-4 py-4 text-gray-500 whitespace-nowrap"
                            >
                                {{ project.endDate | date }}
                            </td>
                            <td
                                class="px-4 py-4 text-sm text-gray-700 whitespace-nowrap"
                            >
                                <div
                                    class="inline-flex items-center px-3 py-1 rounded-full gap-x-2"
                                    [ngClass]="{
                                        'text-emerald-500 bg-emerald-100/60':
                                            project.status === 'Completed',
                                        'text-gray-500 bg-gray-200/60':
                                            project.status === 'Not Started',
                                        'text-orange-500 bg-orange-100/60':
                                            project.status === 'Active',
                                        'text-red-500 bg-red-100/60':
                                            project.status === 'Cancelled'
                                    }"
                                >
                                    {{ project.status }}
                                </div>
                            </td>

                            <td
                                class="max-w-[400px] px-4 py-4 text-gray-500 whitespace-nowrap overflow-hidden text-ellipsis"
                            >
                                {{ project.description }}
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                <div class="flex items-center gap-x-6">
                                    <a
                                        [routerLink]="['/edit', i]"
                                        class="text-violet-500 hover:text-violet-600 focus:outline-none"
                                    >
                                        Edit
                                    </a>

                                    <button
                                        class="text-red-500 hover:text-red-600 focus:outline-none"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
